.placeimageitem0, .placeimageitem1, .placeimageitem2, #noplaceimages {
    width:630px;
    height:fit-content;
}

#placetext{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}

#placetext:hover{
    text-decoration: underline;
    color:#90daec;
    font-size: 1.5em;
}

.carousel-root{
    width:630px;
}

#items{
    display: grid;
    justify-content: center;
}

#item1, #item2, #item3,#item4{
    width:630px;
    height:fit-content;
}
