.placeimageitem0, .placeimageitem1, .placeimageitem2, #noplaceimages {
    width:630px;
    height:fit-content;
}

#placetext{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}

#placetext:hover{
    text-decoration: underline;
    color:#90daec;
    font-size: 1.5em;
}

.carousel-root{
    width:630px;
    z-index: 0;
}

#items{
    display: grid;
    justify-content: center;
}

#item3{
    width:630px;
    height:fit-content;
}

.deleteplacebutton > button, .updateplacebutton > button{
    font-size: 1em;
    margin-left: 3em;
    margin-right: 3em;
    width: fit-content;
    height: 2em;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    margin-top: 1em;
}

.deleteplacebutton > button:hover, .updateplacebutton > button:hover{
    color:white;
    background-color: #90daec;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#item4{
    display: flex;
    justify-content: center;
}
