#homewrapper{
    font-family: Georgia, serif, cursive;
    display: grid;
    grid-template-areas:
        "backgroundimg1 hometext1"
        "hometext2 backgroundimg3"
        "backgroundimg2 hometext3";
}

#backgroundimg1, #hometext2, #backgroundimg2{
    width:27vw;
    height: fit-content;
    border-radius: 5px;
    border-color: black;
    margin-left: 18vw;
}

#backgroundimg3, #hometext1, #hometext3{
    width:36vw;
    height: fit-content;
    border-radius: 5px;
    border-color: black;
    margin-right: 18vw;
}

#hometext1, #hometext3, #hometext2{
    font-size: 1.5em;
    justify-self: center;
    align-self: center;
}
