.homewrapper{
    font-family: Georgia, serif, cursive;
    display:flex;
    /* display: grid; */
    /* justify-content: center; */

}

.homeitem-1{
    position: relative;
    float:inline-start;
    width:270px;
}

.homeitem-2{
    position: relative;
    flex:1;
    width:auto;
    margin-left: 30px;
    margin-top: 15px;
}

/* html {
    background: url("../../../public/images/homepage-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
