#storyformcreateupdate{
    justify-self: center;
    display: grid;
    width:600px;
    grid-gap: 0.3em;
    font-family: Georgia, serif, cursive;
    margin: 2em;
    align-items: center;
    z-index: 1;
}

#storyformtitle, #storyformdescription{
    width:420px;
}
#storyformdescription{
    height:200px;
}

#storyformarticle, #storyformshorts{
    width:600px;
}

#storyformshorts{
    margin-bottom: 1em;
}

.error{
    color:#7D0027;
}

#StoryCreateUpdateButton{
    width:fit-content;
    font-size: 1em;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;

}

#StoryCreateUpdateButton:hover{
    width:fit-content;
    margin: 0 auto;
    color:white;
    background-color: #90daec;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}
