#plantext{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}

#plantext:hover{
    text-decoration: underline;
    color:#90daec;
    font-size: 1.5em;
}

#plandataonechartdetail, #plandatachartdetail{
    width:510px;
    height: fit-content;
}

#item2{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: auto;
    column-gap: 1em;
    row-gap: 1em;
}

.planitems{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.deleteplanbutton > button, .updateplanbutton > button, .updateexpensebutton > button{
    font-size: 1em;
    margin-left: 63px;
    margin-right: 63px;
    width: fit-content;
    height: 2em;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    margin-top: 1em;
}

.deleteplanbutton > button:hover, .updateplanbutton > button:hover, .updateexpensebutton > button:hover{
    color:white;
    background-color: #90daec;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#item4{
    display: flex;
    justify-content: start;
}
