#plansmainpage{
    color: black;
    text-decoration:none;
}

#plansIsActive{
    color: black;
    text-decoration:none;
}

#placesIsNotActive, #storiesIsNotActive{
    text-decoration:none;
    color: grey;
    margin-left: 0.6rem;
}
#storiesIsNotActive:hover, #placesIsNotActive:hover, #plansmainpage:hover{
    color: #90daec;
    text-decoration: underline;
}
#viewallplans {
    /* background: gray none repeat scroll 0 0; */
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: auto;
    column-gap: 1em;
    align-items: start;
}
