#plansmainpage{
    color: black;
    text-decoration:none;
}

#plansIsActive{
    color: black;
    text-decoration:none;
}

#placesIsNotActive, #storiesIsNotActive{
    text-decoration:none;
    color: grey;
    margin-left: 2.6rem;
}

#switchlinkplan{
    display: flex;
    justify-content: center;
    align-items: center;
}

#storiesIsNotActive:hover, #placesIsNotActive:hover, #plansmainpage:hover{
    color: #90daec;
    text-decoration: underline;
}
#viewallplans {
    /* background: gray none repeat scroll 0 0; */
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: auto;
    column-gap: 1em;
    align-items: start;
}

#planslistgrid{
    display: grid;
    align-items: center;
}

/* #planslistgrid{
    background-color: grey;
} */

#viewallplans1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}
