#plansIsActive{
    text-decoration: none;
    color: black;
}
#plansIsActive:hover{
    color: blue;
    text-decoration: underline;
}
#viewallplans {
    /* background: gray none repeat scroll 0 0; */
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: auto;
    column-gap: 1em;
    align-items: start;
}
