#storiesmainpage{
    color: black;
    text-decoration:none;
}

#storiesIsActive{
    color: black;
    text-decoration:none;
    margin-left: 2.6rem;
}

#placesIsNotActive, #plansIsNotActive{
    text-decoration:none;
    color: grey;
}
#plansIsNotActive:hover, #placesIsNotActive:hover, #storiesmainpage:hover{
    color: #90daec;
    text-decoration: underline;
}

#switchlinkstories{
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewallstories {
    /* background: gray none repeat scroll 0 0; */
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: auto;
    column-gap: 1em;
}

/* #storieslistgrid{
    display: grid;
    align-items: center;
} */

#viewallstories1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    column-gap: 1em;
}
