#placeformcreateupdate{
    justify-self: center;
    display: grid;
    width:330px;
    grid-gap: 0.3em;
    font-family: Georgia, serif, cursive;
    margin: 2em;
    z-index: 1;
}

#placeformdescription{
    width:300px;
    height:200px
}

#placeformname, #planformtype{
    width:240px;
}

.error{
    color:#7D0027;
}

#PlaceCreateUpdateButton{
    width:fit-content;
    font-size: 1em;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;

}

#PlaceCreateUpdateButton:hover{
    width:fit-content;
    margin: 0 auto;
    color:white;
    background-color: #90daec;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}
