#placeformcreateupdate{
    justify-self: center;
    display: grid;
    width:330px;
    grid-gap: 0.3em;
    font-family: Georgia, serif, cursive;
    margin: 2em;
}

#placeformdescription{
    width:300px;
    height:200px
}

/* #updateplacedetails{

} */
/* #titlecreateupdateplaceform{

} */

/* #planformname, #planformnumber, #planformcity, #planformcountry{
    width:240px;
}
#planformstartDate, #planformendDate{
    width:180px;
}
#planformprivate{
    width: 95px;
} */

.error{
    color:#7D0027;
}
