#loginmodal {
    border-radius: 60px;
    /* background-color: #EEEEEE; */
}
#loginform {
    display: grid;
    width:360px;
    grid-gap: 0.6em;
    justify-items: center;
    font-family: Georgia, serif, cursive;
}

#loginmodal > h1{
    text-align: center;
}

#loginform > p{
    color: brown;
}

.loginput {
    width:270px;
    padding: 6px 6px;
    display: inline-block;
 }

#loginsubmitbutton, #logindemobutton{
    width:270px;
    margin: 0 auto;
    background-color: white;
    cursor: pointer;
    /* width: 100%; */
}
#disabledlogin{
    width:270px;
    margin: 0 auto;
    padding: 8px 6px;
    background-color:gray;
}

#loginsubmitbutton{
    color: white;
    background-color: red;
    cursor: pointer;
    padding: 8px 6px;
}

#logindemobutton{
    justify-content: center;
    padding: 8px 6px;
    margin-bottom: 1.2em;
}

.logindemobutton{
    text-decoration: none;
    color: black;
}
