.storyimageitem0, .storyimageitem1, .storyimageitem2, .storyimageitem3,.storyimageitem4, #nostoryimages {
    width:630px;
    height:fit-content;
}

#storytext{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}

#storytext:hover{
    text-decoration: underline;
    color:#90daec;
    font-size: 1.5em;
}

#items{
    display: grid;
    justify-content: center;
}

.carousel-root{
    width:630px;
}

#item1, #item2, #item3,#item4{
    width:630px;
    height:fit-content;
}
