.storyimageitem0, .storyimageitem1, .storyimageitem2, .storyimageitem3,.storyimageitem4, #nostoryimages {
    width:630px;
    height:fit-content;
}

#storytext{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}

#storytext:hover{
    text-decoration: underline;
    color:#90daec;
    font-size: 1.5em;
}

#items{
    display: grid;
    justify-content: center;
}

.carousel-root{
    width:630px;
    z-index: 0;
}

#item3{
    width:630px;
    height:fit-content;
    /* display: grid;
    justify-content: center; */
}

.updatestorybutton > button, .deletestorybutton > button{
    font-size: 1em;
    margin-left: 72px;
    margin-right: 72px;
    width: fit-content;
    height: 2em;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    margin-top: 1em;
}

.updatestorybutton > button:hover, .deletestorybutton > button:hover{
    color:white;
    background-color: #90daec;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}
