#loginsignupnavbar{
  right:0;
  position:fixed;
  z-index:1;
  cursor: pointer;
}

nav {
  font-family: Georgia, serif, cursive;
  /* color:#90daec; */
  background-color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  border-radius: 6px;
  cursor: pointer;
}
NavLink {
  position: relative;
  float:inline-start;
}

#logoImage {
  width: 60%;
  height: 60%;
}

#discover{
  color:#90daec;
  text-decoration: none;
  cursor: pointer;
  margin-right: 3em;
  margin-bottom: 1em;
}
