#planformcreateupdate{
    justify-content: space-around;
    display: grid;
    width:330px;
    grid-gap: 0.6em;

    font-family: Georgia, serif, cursive;
    margin: 2em;
}

#planformname, #planformnumber, #planformcity, #planformcountry{
    width:240px;
}
#planformstartDate, #planformendDate{
    width:180px;
}
#planformprivate{
    width: 95px;
}

.PlanCreateUpdateButton{
    height:20px;
    width:90px;
}

.error{
    color:#7D0027;
}
