#deleteplanmodal{
    display: grid;
    width: 360px;
}

#deleteplanmodal > h2{
    justify-self: center;
    margin-bottom: 0.3em;
}

#deleteplanmodal > p{
    margin-top: 0;
    justify-self: center;
}

#yesdeleteplan{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em 1em;
    color: white;
    background-color: red;
    cursor: pointer;
}

#nokeepplan{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em 1em;
    color: white;
    background-color: #555555;
    cursor: pointer;
}
